* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito,Archivo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
}

/* Top wrapper*/
#i-top {
    background-image: url(image/bg-index2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 650px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 12px 0px 15px 0px;
}

.logo img{
    height: 60px;
}

.container ul {
    display: flex;
    justify-content: center;
}

#i-menu li {
    list-style-type: none;
    padding: 3px 14px;
}

#i-menu li a{
    margin-top: 10px;
    color: white;    
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

#i-menu li a:hover {
    color: #774EC6;
    cursor: pointer;
    transition: 0.5s;
}

#search {
    margin: 15px 0px;
    display: flex;
}

#search form {
    display: inline-flex;
    margin: 0 auto;
}

#search form button {
    background-color: #141414;
    font-size: 25px;
    color: #5c5757;
    outline: none;
    border: none;
    margin: none;
}

#search form button i {
    padding: 5px 10px;
    transition: 0.5s;
}

button i:hover {
    color: #c0baba;
    transition: 0.75sec;
    cursor: pointer;
    transition: 0.5s;
}

#search form input {
    background-color: #141414;
    font-size: 13px;
    border: none;
    height: 36px;
    width: 500px;
    padding-left: 10px;
    outline: none;
    border: none;
    color: white;
}

.i-gohome {
    background: url(image/bg-index-top1.png) center no-repeat;   
    min-height: 450px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.i-gohome a {
    background-color: #ffc72c;
    color: #222;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50rem;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 16px;
    font-weight: 600;
    transition: 0.5s;
}

.i-gohome a:hover {
    background-color: #e8aa00;
    transition: 0.5s;
    animation: ease-in-out;
    cursor: pointer;
}

.i-gohome a i {
    font-size: 2rem;
    vertical-align: middle;
}

#social-container {
    width: 830px;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

#social-container #sc-total {
    color: #555;
    display: inline-flex;
    flex-direction: column;
    margin-top: 8px;
    text-align: center;
    font-weight: 500;
    align-items: center;
}

#sc-total span {
    line-height: 12px;
}

.sc-icons {
    display: inline-flex;
    width: 120px;
    height: 33px;
    border-radius: 4px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    justify-content: space-evenly;
    transition: 0.3s;
    cursor: pointer;
}

.sc-icons i {
    font-size: 16px;
}

.sc-icons:hover {
    transform: translateY(-5px);
    transition: 0.3s;
 
}